.navbar{
    z-index: 99;
}


.ocean {
    height: 10%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #2d87a0;
    transform: scaleY(-1);
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    width: 6400px;
    top: -198px;
    left: 0;
    height: 198px;
    transform: translate(0, 0, 0);
    animation: wave 7s ease infinite;
}

.wave:nth-of-type(2) {
    top: -198px;
    animation: swell 4s ease infinite;
    opacity: 1;
    transform: scaleY(-1);
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate(0, -30px);
    }

    50% {
        transform: scaleY(-1);
        transform: translate(0, 5px);
    }
}